<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <iframe src="/components/master/master.html" width="100%" height="500px">
      <!-- Fallback content (displayed if iframe fails to load) -->
      <div>
        Hello Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
        placeat eaque, quisquam nam iusto fuga aliquam cupiditate alias
        molestias deleniti vel necessitatibus aperiam ut saepe. Quod excepturi
        modi recusandae nostrum.
      </div>
    </iframe>
  </body>
</html>
